$TextHeavy: #ffffff;
$TextNormal: #cfcfcf;
$TextLight: #7e7e7e;

$Background1: #080808;
$Background2: #0e0e0e;
$Background3: #111111;
$Background4: #141414;

$HightlightNormal: #1f1f1f solid 1px;
$HightlightActive: #ffd900 solid 1px;

@mixin Round-1 { border-radius: 0.25rem; }
@mixin Round-2 { border-radius: 0.5rem; }
@mixin Round-3 { border-radius: 0.75rem; }
@mixin Round-4 { border-radius: 1rem; }

body {
  background-color: $Background4;
  color: $TextNormal;
  padding: 2rem;
}

.TaskPanel {
  background-color: $Background3;
  border: $HightlightNormal;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  
  .NewTask {
    width: 100%;
    background-color: $Background2;
    color: #636363;
  }

  h4 {
    font-weight: lighter;
    margin-bottom: 1rem;
  }

  .modal {
    margin-left: 10%;
    width: 80%;
    color: #333333;
  }

  .option {
    margin-right: 0.5rem;
  }
}

.NotesPanel {
  background-color: $Background3;
  border: $HightlightNormal;
  width: 100%;
  padding: 1rem;
  font-weight: lighter;

  li {
    font-weight: lighter;
  }

  h4 {
    font-weight: lighter;
    margin-bottom: 1rem;
  }

  .NewNote {
    width: 100%;
    height: 2rem;
    padding-top: 0.2rem;
    background-color: $Background2;
    color: #636363;
  }

  .NotesContainer {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    background-color: $Background2;
    border: $HightlightNormal;
    font-size: 1rem;

    h4{ margin-bottom: 0px; }

    @include Round-1;
  }

}

.Header {
  margin-bottom: 1.5rem;

  small {
    float: right;
    margin-top: 0.3rem;
    color: $TextLight;
  }

  h3 {
    float: left;
    font-weight: lighter;
  }

  b {
    font-weight: 500;
  }
}

.TimerBar {
  height: 1.25rem;
  font-weight: 600;
  font-size: 0.7rem;
  border-radius: 0.1rem !important;
  background-color: $Background2;
  border: $HightlightNormal;
  clear: both;
  animation-duration: 0.25;
  transition: 250ms;

  &.hidden {
    height: 0px;
    margin-bottom: -1rem;
    border-width: 0px;
  }

  .progress-bar {
    width: 75%; 
    color: #080808;
  }
}

.Task {
  background-color: $Background2;
  border: $HightlightNormal;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0.75rem 1rem;
  float: left;
  width: 100%;
  text-align: left;
  font-weight: lighter;

  transition: 250ms;

  @include Round-1;

  small {
    float: left;
    font-size: 0.8rem;
    color: $TextLight;
  }

  button {
    float: right;
    margin-top: -0.25rem;
    padding-top: 0rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 0.5rem;
  }

  textarea {
    background-color: $Background1;
    color: $TextHeavy;
    resize: none;
  }
  
  &.active {
    border: $HightlightActive;
  }
}